.header--restaurants {
  background-color: var(--color-background-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.header__arrow {
  width: 17px;
}

.header__arrowlink {
  text-decoration: none;
  display: flex;
  padding: 1rem 2rem;
}

.header__icon {
  margin: 0 auto;
}

.herobanner {
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 24rem;
}

.restaurantpage__wrapper {
  background-color: var(--color-background);
  padding: 0 1rem 3rem 1rem;
}

.restaurantpage__titlecontainer {
  margin-top: -3rem;
  position: relative;
}

.restaurantpage__title {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 22px;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem 0 0 0;
  background-color: var(--color-background);
  border-radius: 40px 40px 0 0;
  letter-spacing: 0.04rem;
}

.restaurantpage__coursetitle {
  width: 2.8rem;
  margin-top: 2rem;
  font-family: var(--font-roboto);
  padding-bottom: 0.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 2px solid #99e2d0;
}

/* RESTAURANT CARDS STYLING */

.restaurantpage__cardwrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.restaurantpage__card {
  display: flex;
  width: 95%;
  background-color: var(--color-background);
  height: 68.07px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  align-items: center;
  padding-left: 1rem;
}

.restaurantpage__cardtitle {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-bottom: 0.2rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.restaurantpage__cardtext {
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurantpage__textwrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-right: 0.7rem;
}

.restaurantpage__button {
  width: 80%;
  max-width: 13.6rem;
  padding: 1.1rem 0.2rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
  font-size: 16px;
  font-weight: var(--font-medium);
  text-decoration: none;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: all 1.5s ease-in-out 100ms;
}

.restaurantpage__button:hover,
.restaurantpage__button:active {
  filter: brightness(130%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

.restaurantpage_cardprice {
  margin-left: auto;
}

.restaurantpage__check {
  height: 100%;
  width: 5%;
  color: transparent;
  transition: all 1s ease-in-out;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurantpage__check:hover {
  background-color: var(--color-mint-green);
  border-radius: 0px 15px 15px 0;
  height: 100%;
  margin-left: 0.5rem;
  padding: 0;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.animatebloc--one,
.animatebloc--two,
.animatebloc--three {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
}

.animatebloc--one {
  animation-delay: 0.5s;
}
.animatebloc--two {
  animation-delay: 0.7s;
}
.animatebloc--three {
  animation-delay: 0.9s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantpage__titlecontainer {
    margin-top: -3rem;
    position: relative;
    width: 75%;
  }

  .restaurantpage__title {
    padding: 3rem;
    justify-content: center;
    font-size: 28px;
  }

  .restaurantpage__wrapper {
    width: 75%;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantpage__cardwrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .restaurantpage__card {
    width: 100%;
    align-self: center;
  }
}
