:root {
  /* FONT VARIABLES */

  --font-shrikhand: "Shrikhand", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;

  /* COLOR VARIABLES */

  --color-background: hsl(0, 0%, 97%);
  --color-background-light: hsl(0, 0%, 100%);
  --color-background-dark: hsl(0, 0%, 92%);

  /* SMALL BUTTON HOVER AND "NEW" BUTTON BG */
  --color-mint-green: hsl(165, 56%, 74%);

  /* ROUND NUMBER BUTTON BG*/
  --color-purple: hsl(267, 66%, 60%);

  --color-gradient-purple: linear-gradient(
    200.64deg,
    hsl(267, 66%, 60%) -5.2%,
    hsl(317, 100%, 74%) 110.74%
  );

  --color-text-main: hsl(0, 0%, 0%);
  --color-text-green: hsl(165, 100%, 26%);

  /* FOOTER TEXT AND BG COLORS */
  --color-text-second: hsl(0, 0%, 100%);
  --color-footer-grey: hsl(0, 0%, 21%);
}

ol {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
  counter-reset: mycounter 0;
}

ul {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
}

ol li {
  position: relative;
}

ol li:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.3rem;
  left: -1.19rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #9356dc;
  border-radius: 1.25rem;
  color: white;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

/* PRELOADER STYLING */

.loadingscreen {
  animation: loader 1s 4s forwards;
  transform-origin: bottom;
  position: fixed;
  opacity: 1;
  color: white;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: var(--color-mint-green);
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loadingscreen__title {
  font-family: var(--font-shrikhand);
  font-size: 3rem;
}

.loadingscreen__text {
  font-family: var(--font-roboto);
  font-weight: var(--font-light);
}

.loadingscreen__textcontainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-3.44rem);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* HEADER STYLING */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__iconcontainer {
  position: relative;
  z-index: 10;
  background-color: var(--color-background-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: fit-content;
  padding: 0.9rem 0;
  display: flex;
  justify-content: center;
}

.header__icon {
  width: 70%;
  max-width: 12.5rem;
}

.header__locationcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-dark);
  height: 3.125rem;
  color: var(--color-footer-grey);
}

.headerlocationcontainer__icon {
  width: 0.75rem;
  height: 1rem;
  margin-right: 10px;
}

.header__title {
  text-align: center;
  padding: 0rem 2.8rem 1.5rem 2.8rem;
  margin: 0;
}

/* EXPLORE CONTAINER STYLING */

.header__explorecontainer {
  background-color: var(--color-background);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3rem 0;
}

.header__text {
  text-align: center;
  font-weight: var(--font-light);
  padding: 0rem 1.8rem 1.5rem 1.8rem;
  margin: 0;
}

.header__button {
  width: 50%;
  max-width: 13.6rem;
  padding: 1.1rem 0.2rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: var(--font-medium);
  text-decoration: none;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  margin: 1rem 0 1rem 0;
  transition: all 1.5s ease-in-out 100ms;
}

.header__button:hover,
.header__button:active {
  filter: brightness(130%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

/* FUNCTIONING STYLING */

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.functioning ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functioning h2:first-child {
  display: flex;
  align-self: flex-start;
}

.functioning__title,
.restaurants__title {
  text-align: left;
  margin-left: 1.5rem;
}

.functioning__container {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  background-color: var(--color-background);
  margin-bottom: 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 1.8rem 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.19rem;
}

.functioning__container:hover,
.functioning__container:active {
  background-color: #f5edff;
}

.functioning__icon--one,
.functioning__icon--two,
.functioning__icon--three {
  filter: invert(46%) sepia(89%) saturate(7%) hue-rotate(321deg) brightness(89%)
    contrast(93%);
}

.functioning li:hover img,
.functioning li:active img {
  filter: invert(43%) sepia(51%) saturate(961%) hue-rotate(228deg)
    brightness(88%) contrast(96%);
}

.functioning__icon--one {
  width: 0.81rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.functioning__icon--two {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.functioning__icon--three {
  width: 1.12rem;
  height: 1.12rem;
  margin-right: 1rem;
}

/* RESTAURANTS STYLING */

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.restaurants h2:first-child {
  display: flex;
  align-self: flex-start;
  padding: 1.5rem 0;
}

.restaurant__card {
  position: relative;
  margin-bottom: 8%;
  height: 50%;
  max-height: 15.62rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 80%;
  background-color: var(--color-background-light);
}

.restaurantcard__image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurantimage__container {
  position: relative;
  text-align: center;
}

.newbanner {
  position: absolute;
  top: 1.19rem;
  right: 1.62rem;
  padding: 0.3rem 0.5rem;
  background: #99e2d0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.restaurant__card--clickable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.restaurantcard__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.31rem;
  margin-bottom: 0;
}

.restaurantcard__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantcard__text {
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.25rem;
}

.restaurantcard__title,
.restaurantcard__text {
  padding-left: 1rem;
}

.restaurant__icontextcontainer {
  display: flex;
  align-items: center;
}

.restaurant__textcontainer {
  display: flex;
  flex-direction: column;
  width: 85%;
}

/*STYLING OF ANIMATED HEART*/

.restaurantcard__heart {
  position: relative;
  z-index: 2;
  top: -0.8rem;
  background: transparent;
  cursor: pointer;
}

.fa-heart {
  font-size: 1.5rem;
  position: absolute;
}

.fa-regular:hover,
.fa-regular:active {
  color: transparent;
}

.restaurantcard__heart .fa-solid {
  color: transparent;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1s ease-in-out 200ms;
  background-image: linear-gradient(
    to top,
    rgb(147, 86, 220),
    rgb(255, 121, 218)
  );
}

.restaurantcard__heart .fa-solid:hover,
.restaurantcard__heart .fa-solid:active {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: center;
}

/* FOOTER STYLING */

footer {
  background-color: var(--color-footer-grey);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 2rem;
  font-size: 1rem;
}

footer a:visited,
footer a:active,
footer a {
  color: white;
  font-weight: var(--font-medium);
  text-decoration: none;
}

.footer__icon {
  width: 30%;
  margin-bottom: 1rem;
}

.footer__icon--smallone {
  width: 4%;
  padding-right: 0.6rem;
}
.footer__icon--smalltwo {
  width: 5%;
  padding-right: 0.4rem;
}

/* DESKTOP MEDIA QUERIES */

@media screen and (min-width: 1024px) {
  .functioning {
    margin: 2rem 0 2rem 0;
  }

  .functioning__title {
    margin-bottom: 2rem;
  }

  .functioning ol {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .functioning__container {
    max-width: 20.1rem;
    margin: 1rem 2rem;
  }

  .restaurant__card {
    flex: 0 0 auto;
    width: 30rem;
    margin: 0 2rem 2rem 1rem;
  }

  .restaurantcard__heart {
    margin-left: 0.5rem;
  }

  .restaurants {
    width: 100%;
  }

  .restaurantcard__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 2rem 0;
  }

  footer a {
    margin-right: 2rem;
  }

  .footer__icon {
    width: 10%;
    margin: 0 1rem 0 1rem;
  }

  .footer__container {
    display: flex;
    width: fit-content;
  }

  .footer__texticonwrapper {
    display: flex;
    height: fit-content;
    max-width: 14rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .footer__icon--smallone {
    width: 7%;
  }
  .footer__icon--smalltwo {
    width: 9%;
  }
}
