:root {
  /* FONT VARIABLES */

  --font-shrikhand: "Shrikhand", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;

  /* COLOR VARIABLES */

  --color-background: hsl(0, 0%, 97%);
  --color-background-light: hsl(0, 0%, 100%);
  --color-background-dark: hsl(0, 0%, 92%);

  /* SMALL BUTTON HOVER AND "NEW" BUTTON BG */
  --color-mint-green: hsl(165, 56%, 74%);

  /* ROUND NUMBER BUTTON BG*/
  --color-purple: hsl(267, 66%, 60%);

  --color-gradient-purple: lin
    ear-gradient(
      200.64deg,
      hsl(267, 66%, 60%) -5.2%,
      hsl(317, 100%, 74%) 110.74%
    );

  --color-text-main: hsl(0, 0%, 0%);
  --color-text-green: hsl(165, 100%, 26%);

  /* FOOTER TEXT AND BG COLORS */
  --color-text-second: hsl(0, 0%, 100%);
  --color-footer-grey: hsl(0, 0%, 21%);

  /* BOX SHADOW */
  --shadow-buttonshadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  --shadow-buttonshadow-hover: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__iconcontainer {
  position: relative;
  z-index: 10;
  background-color: var(--color-background-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height:fit-content;
  padding: 0.9rem 0;
  display: flex;
  justify-content: center;
}

.header__icon {
  width: 40%;
}

.header__locationcontainer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-dark);
  height:50px;
  color:var(--color-footer-grey);
}

.headerlocationcontainer__icon{
  width:12px;
  height:16px;
 margin-right:10px;
}

.restaurant__card {
  position: relative;
}

.restaurant__card--clickable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header__title{
  text-align: center;
  padding:0rem 2.8rem 1.5rem 2.8rem;
  margin:0;
}

.header__explorecontainer{
  background-color: var(--color-background);
  font-size: 24px;
  font-weight: var(--font-bold);
  display:flex;
  align-items:center ;
  flex-direction: column;
  flex-wrap: nowrap;
  padding:3rem 0
}

.header__text{
text-align: center;
font-weight: var(--font-light);
padding: 0rem 1.8rem 1.5rem 1.8rem;
margin: 0;
}

.header__button{
  width:50%;
  padding:1.1rem 0.2rem;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: var(--font-light);
  text-decoration: none;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  margin: 1rem 0 1rem 0;
    
}

